/*ceci est un commentaire*/

/*h1 est le sélecteur*/
h1{
	
	/*ici mes propriété css qui concerne la balise h1*/	
	color: teal;
	font-size: 15px;
	border: 2px solid teal;

}

h2{
	/*ici mes propriété css qui concerne la balise h2*/	
	text-decoration: underline;
	font-weight: bold;
}


h1, h2, h3{
	/*ici mes propriété css qui concerne la balise h1, h2 et h3*/	
	text-align: center;
}

/*ici touutes images seront à moitié opaques*/
img{
	opacity: 0.5;
}

/*personalisation d'une des deux images*/




