/*ceci est un commentaire*/


/*h1 est le sélecteur*/
h1{
	
	/*ici mes propriété css qui concerne la balise h1*/	
	color: teal;
	font-size: 15px;
	border: 2px solid teal;

}

h2{
	/*ici mes propriété css qui concerne la balise h2*/	
	text-decoration: underline;
	font-weight: bold;
}

p{
	/*j'applique la police personalisé sur tous les paragraphes*/
	font-family: 'Style Script', cursive;
	font-size: 30px;
}


h1, h2, h3{
	/*ici mes propriété css qui concerne la balise h1, h2 et h3*/	
	text-align: center;
}

/*ici touutes images seront à moitié opaques*/
img{
	opacity: 0.5;
}

/*personalisation d'une des deux images*/
img.monImagePerso{
	border: 2px dashed teal;
}


/*ici le css du menu*/
.ribbon{
    display: inline-block;
}
.ribbon:after, .ribbon:before {
  margin-top:0.5em;
  content: "";
  float:left;
  border:1.5em solid #fff;
}

.ribbon:after {
  border-right-color:transparent;
}

.ribbon:before {
  border-left-color:transparent;
}

.ribbon a:link, .ribbon a:visited { 
  color:#000;
  text-decoration:none;
  float:left;
  height:3.5em;
  overflow:hidden;
}

.ribbon span {
  background:#fff;
  display:inline-block;
  line-height:3em;
  padding:0 1em;
  margin-top:0.5em;
  position:relative;
  transition: background-color 0.2s, margin-top 0.2s;
}

.ribbon a:hover span {
  background:#FFD204;
  margin-top:0;
}

.ribbon span:before {
  content: "";
  position:absolute;
  top:3em;
  left:0;
  border-right:0.5em solid #9B8651;
  border-bottom:0.5em solid #fff;
}

.ribbon span:after {
  content: "";
  position:absolute;
  top:3em;
  right:0;
  border-left:0.5em solid #9B8651;
  border-bottom:0.5em solid #fff;
}



